# NativeScript application
hooks
/platforms
node_modules

certs
/package-lock.json
/report
/times.html
pnpm-lock.yaml
*.js.map
e2e/**/*.js
app/**/*.js
/mochawesome-report
/dist

#android
*.aar

#iOS
*.framework
/typings/x86_64
*.xcframework

# NativeScript Template
*.js.map
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
.gradle
.env*
!.env.ci
.yarn
tmp/
._.DS_Store

# Visual Studio Code
.sentryclirc
/fastlane/report.xml
*.zip
dist
/webpack.stats.json
/.sentryclirc


**/Android/src/main/res/values*/strings.xml
**/src/main/res/values*/strings.xml
**/iOS/*.lproj/Localizable.strings
**/iOS/*.lproj/InfoPlist.strings
**/iOS/*.lproj/Root.strings
**/iOS/Settings.bundle/*.lproj

timeline*.json
times*.html

mf_icons
test
**/*.old
app/assets/map/**
app/assets/3dmap/**
/firmware
/firmwares
/gpx
vendor
build
/vendor
.cxx
/fastlane/report.xml
*.pem

#alpimaps
app/**/*.LICENSE.txt
/app/assets/peakfinder/webapp.js
/app/assets/**/*.css
/API_KEYS.json
dev_assets/styles/osmxml_cleaned/*.xml
dev_assets/styles/inner_cleaned/*.xml
dev_assets/styles/mobile-sdk-styles
dev_assets/styles/base/fonts/osm.ttf
dev_assets/styles/inner_cleaned/fonts/materialdesignicons-webfont.ttf
dev_assets/styles/**/*.xml
dev_assets/styles/test*
/css2xml_*
/dev_assets/styles/inner/fonts/osm.ttf
/dev_assets/styles/osm/fonts/osm.ttf
/dev_assets/styles/inner/fonts/materialdesignicons-webfont.ttf

#documents
opencv/**/*
!opencv/**/README.md
tesseract/**/*
!tesseract/**/README.md
/webpdfviewer/**/*.css
/app/assets/**/*.html
