<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aa</key>
	<string>aar</string>
	<key>aar</key>
	<string>aar</string>
	<key>ab</key>
	<string>abk</string>
	<key>abk</key>
	<string>abk</string>
	<key>ace</key>
	<string>ace</string>
	<key>ach</key>
	<string>ach</string>
	<key>ada</key>
	<string>ada</string>
	<key>ady</key>
	<string>ady</string>
	<key>ae</key>
	<string>ave</string>
	<key>af</key>
	<string>afr</string>
	<key>afa</key>
	<string>afa</string>
	<key>afh</key>
	<string>afh</string>
	<key>afr</key>
	<string>afr</string>
	<key>ain</key>
	<string>ain</string>
	<key>ak</key>
	<string>aka</string>
	<key>aka</key>
	<string>aka</string>
	<key>akk</key>
	<string>akk</string>
	<key>ale</key>
	<string>ale</string>
	<key>alg</key>
	<string>alg</string>
	<key>alt</key>
	<string>alt</string>
	<key>am</key>
	<string>amh</string>
	<key>amh</key>
	<string>amh</string>
	<key>an</key>
	<string>arg</string>
	<key>ang</key>
	<string>ang</string>
	<key>anp</key>
	<string>anp</string>
	<key>apa</key>
	<string>apa</string>
	<key>ar</key>
	<string>ara</string>
	<key>ara</key>
	<string>ara</string>
	<key>arc</key>
	<string>arc</string>
	<key>arg</key>
	<string>arg</string>
	<key>arn</key>
	<string>arn</string>
	<key>arp</key>
	<string>arp</string>
	<key>art</key>
	<string>art</string>
	<key>arw</key>
	<string>arw</string>
	<key>as</key>
	<string>asm</string>
	<key>asm</key>
	<string>asm</string>
	<key>ast</key>
	<string>ast</string>
	<key>ath</key>
	<string>ath</string>
	<key>aus</key>
	<string>aus</string>
	<key>av</key>
	<string>ava</string>
	<key>ava</key>
	<string>ava</string>
	<key>ave</key>
	<string>ave</string>
	<key>awa</key>
	<string>awa</string>
	<key>ay</key>
	<string>aym</string>
	<key>aym</key>
	<string>aym</string>
	<key>az</key>
	<string>aze</string>
	<key>aze</key>
	<string>aze</string>
	<key>ba</key>
	<string>bak</string>
	<key>bad</key>
	<string>bad</string>
	<key>bai</key>
	<string>bai</string>
	<key>bak</key>
	<string>bak</string>
	<key>bal</key>
	<string>bal</string>
	<key>bam</key>
	<string>bam</string>
	<key>ban</key>
	<string>ban</string>
	<key>bas</key>
	<string>bas</string>
	<key>bat</key>
	<string>bat</string>
	<key>be</key>
	<string>bel</string>
	<key>bej</key>
	<string>bej</string>
	<key>bel</key>
	<string>bel</string>
	<key>bem</key>
	<string>bem</string>
	<key>ben</key>
	<string>ben</string>
	<key>ber</key>
	<string>ber</string>
	<key>bg</key>
	<string>bul</string>
	<key>bh</key>
	<string>bih</string>
	<key>bho</key>
	<string>bho</string>
	<key>bi</key>
	<string>bis</string>
	<key>bih</key>
	<string>bih</string>
	<key>bik</key>
	<string>bik</string>
	<key>bin</key>
	<string>bin</string>
	<key>bis</key>
	<string>bis</string>
	<key>bla</key>
	<string>bla</string>
	<key>bm</key>
	<string>bam</string>
	<key>bn</key>
	<string>ben</string>
	<key>bnt</key>
	<string>bnt</string>
	<key>bo</key>
	<string>bod</string>
	<key>bod</key>
	<string>bod</string>
	<key>bos</key>
	<string>bos</string>
	<key>br</key>
	<string>bre</string>
	<key>bra</key>
	<string>bra</string>
	<key>bre</key>
	<string>bre</string>
	<key>bs</key>
	<string>bos</string>
	<key>btk</key>
	<string>btk</string>
	<key>bua</key>
	<string>bua</string>
	<key>bug</key>
	<string>bug</string>
	<key>bul</key>
	<string>bul</string>
	<key>byn</key>
	<string>byn</string>
	<key>ca</key>
	<string>cat</string>
	<key>cad</key>
	<string>cad</string>
	<key>cai</key>
	<string>cai</string>
	<key>car</key>
	<string>car</string>
	<key>cat</key>
	<string>cat</string>
	<key>cau</key>
	<string>cau</string>
	<key>ce</key>
	<string>che</string>
	<key>ceb</key>
	<string>ceb</string>
	<key>cel</key>
	<string>cel</string>
	<key>ces</key>
	<string>ces</string>
	<key>ch</key>
	<string>cha</string>
	<key>cha</key>
	<string>cha</string>
	<key>chb</key>
	<string>chb</string>
	<key>che</key>
	<string>che</string>
	<key>chg</key>
	<string>chg</string>
	<key>chk</key>
	<string>chk</string>
	<key>chm</key>
	<string>chm</string>
	<key>chn</key>
	<string>chn</string>
	<key>cho</key>
	<string>cho</string>
	<key>chp</key>
	<string>chp</string>
	<key>chr</key>
	<string>chr</string>
	<key>chu</key>
	<string>chu</string>
	<key>chv</key>
	<string>chv</string>
	<key>chy</key>
	<string>chy</string>
	<key>cmc</key>
	<string>cmc</string>
	<key>co</key>
	<string>cos</string>
	<key>cop</key>
	<string>cop</string>
	<key>cor</key>
	<string>cor</string>
	<key>cos</key>
	<string>cos</string>
	<key>cpe</key>
	<string>cpe</string>
	<key>cpf</key>
	<string>cpf</string>
	<key>cpp</key>
	<string>cpp</string>
	<key>cr</key>
	<string>cre</string>
	<key>cre</key>
	<string>cre</string>
	<key>crh</key>
	<string>crh</string>
	<key>crp</key>
	<string>crp</string>
	<key>cs</key>
	<string>ces</string>
	<key>csb</key>
	<string>csb</string>
	<key>cu</key>
	<string>chu</string>
	<key>cus</key>
	<string>cus</string>
	<key>cv</key>
	<string>chv</string>
	<key>cy</key>
	<string>cym</string>
	<key>cym</key>
	<string>cym</string>
	<key>da</key>
	<string>dan</string>
	<key>dak</key>
	<string>dak</string>
	<key>dan</key>
	<string>dan</string>
	<key>dar</key>
	<string>dar</string>
	<key>day</key>
	<string>day</string>
	<key>de</key>
	<string>deu</string>
	<key>del</key>
	<string>del</string>
	<key>den</key>
	<string>den</string>
	<key>deu</key>
	<string>deu</string>
	<key>dgr</key>
	<string>dgr</string>
	<key>din</key>
	<string>din</string>
	<key>div</key>
	<string>div</string>
	<key>doi</key>
	<string>doi</string>
	<key>dra</key>
	<string>dra</string>
	<key>dsb</key>
	<string>dsb</string>
	<key>dua</key>
	<string>dua</string>
	<key>dum</key>
	<string>dum</string>
	<key>dv</key>
	<string>div</string>
	<key>dyu</key>
	<string>dyu</string>
	<key>dz</key>
	<string>dzo</string>
	<key>dzo</key>
	<string>dzo</string>
	<key>ee</key>
	<string>ewe</string>
	<key>efi</key>
	<string>efi</string>
	<key>egy</key>
	<string>egy</string>
	<key>eka</key>
	<string>eka</string>
	<key>el</key>
	<string>ell</string>
	<key>ell</key>
	<string>ell</string>
	<key>elx</key>
	<string>elx</string>
	<key>en</key>
	<string>eng</string>
	<key>eng</key>
	<string>eng</string>
	<key>enm</key>
	<string>enm</string>
	<key>eo</key>
	<string>epo</string>
	<key>epo</key>
	<string>epo</string>
	<key>es</key>
	<string>spa</string>
	<key>est</key>
	<string>est</string>
	<key>et</key>
	<string>est</string>
	<key>eu</key>
	<string>eus</string>
	<key>eus</key>
	<string>eus</string>
	<key>ewe</key>
	<string>ewe</string>
	<key>ewo</key>
	<string>ewo</string>
	<key>fa</key>
	<string>fas</string>
	<key>fan</key>
	<string>fan</string>
	<key>fao</key>
	<string>fao</string>
	<key>fas</key>
	<string>fas</string>
	<key>fat</key>
	<string>fat</string>
	<key>ff</key>
	<string>ful</string>
	<key>fi</key>
	<string>fin</string>
	<key>fij</key>
	<string>fij</string>
	<key>fil</key>
	<string>fil</string>
	<key>fin</key>
	<string>fin</string>
	<key>fiu</key>
	<string>fiu</string>
	<key>fj</key>
	<string>fij</string>
	<key>fo</key>
	<string>fao</string>
	<key>fon</key>
	<string>fon</string>
	<key>fr</key>
	<string>fra</string>
	<key>fra</key>
	<string>fra</string>
	<key>frm</key>
	<string>frm</string>
	<key>fro</key>
	<string>fro</string>
	<key>frr</key>
	<string>frr</string>
	<key>frs</key>
	<string>frs</string>
	<key>fry</key>
	<string>fry</string>
	<key>ful</key>
	<string>ful</string>
	<key>fur</key>
	<string>fur</string>
	<key>fy</key>
	<string>fry</string>
	<key>ga</key>
	<string>gle</string>
	<key>gaa</key>
	<string>gaa</string>
	<key>gay</key>
	<string>gay</string>
	<key>gba</key>
	<string>gba</string>
	<key>gd</key>
	<string>gla</string>
	<key>gem</key>
	<string>gem</string>
	<key>gez</key>
	<string>gez</string>
	<key>gil</key>
	<string>gil</string>
	<key>gl</key>
	<string>glg</string>
	<key>gla</key>
	<string>gla</string>
	<key>gle</key>
	<string>gle</string>
	<key>glg</key>
	<string>glg</string>
	<key>glv</key>
	<string>glv</string>
	<key>gmh</key>
	<string>gmh</string>
	<key>gn</key>
	<string>grn</string>
	<key>goh</key>
	<string>goh</string>
	<key>gon</key>
	<string>gon</string>
	<key>gor</key>
	<string>gor</string>
	<key>got</key>
	<string>got</string>
	<key>grb</key>
	<string>grb</string>
	<key>grc</key>
	<string>grc</string>
	<key>grn</key>
	<string>grn</string>
	<key>gsw</key>
	<string>gsw</string>
	<key>gu</key>
	<string>guj</string>
	<key>guj</key>
	<string>guj</string>
	<key>gv</key>
	<string>glv</string>
	<key>gwi</key>
	<string>gwi</string>
	<key>ha</key>
	<string>hau</string>
	<key>hai</key>
	<string>hai</string>
	<key>hat</key>
	<string>hat</string>
	<key>hau</key>
	<string>hau</string>
	<key>haw</key>
	<string>haw</string>
	<key>he</key>
	<string>heb</string>
	<key>heb</key>
	<string>heb</string>
	<key>her</key>
	<string>her</string>
	<key>hi</key>
	<string>hin</string>
	<key>hil</key>
	<string>hil</string>
	<key>him</key>
	<string>him</string>
	<key>hin</key>
	<string>hin</string>
	<key>hit</key>
	<string>hit</string>
	<key>hmn</key>
	<string>hmn</string>
	<key>hmo</key>
	<string>hmo</string>
	<key>ho</key>
	<string>hmo</string>
	<key>hr</key>
	<string>hrv</string>
	<key>hrv</key>
	<string>hrv</string>
	<key>hsb</key>
	<string>hsb</string>
	<key>ht</key>
	<string>hat</string>
	<key>hu</key>
	<string>hun</string>
	<key>hun</key>
	<string>hun</string>
	<key>hup</key>
	<string>hup</string>
	<key>hy</key>
	<string>hye</string>
	<key>hye</key>
	<string>hye</string>
	<key>hz</key>
	<string>her</string>
	<key>ia</key>
	<string>ina</string>
	<key>iba</key>
	<string>iba</string>
	<key>ibo</key>
	<string>ibo</string>
	<key>id</key>
	<string>ind</string>
	<key>ido</key>
	<string>ido</string>
	<key>ie</key>
	<string>ile</string>
	<key>ig</key>
	<string>ibo</string>
	<key>ii</key>
	<string>iii</string>
	<key>iii</key>
	<string>iii</string>
	<key>ijo</key>
	<string>ijo</string>
	<key>ik</key>
	<string>ipk</string>
	<key>iku</key>
	<string>iku</string>
	<key>ile</key>
	<string>ile</string>
	<key>ilo</key>
	<string>ilo</string>
	<key>ina</key>
	<string>ina</string>
	<key>inc</key>
	<string>inc</string>
	<key>ind</key>
	<string>ind</string>
	<key>ine</key>
	<string>ine</string>
	<key>inh</key>
	<string>inh</string>
	<key>io</key>
	<string>ido</string>
	<key>ipk</key>
	<string>ipk</string>
	<key>ira</key>
	<string>ira</string>
	<key>iro</key>
	<string>iro</string>
	<key>is</key>
	<string>isl</string>
	<key>isl</key>
	<string>isl</string>
	<key>it</key>
	<string>ita</string>
	<key>ita</key>
	<string>ita</string>
	<key>iu</key>
	<string>iku</string>
	<key>ja</key>
	<string>jpn</string>
	<key>jav</key>
	<string>jav</string>
	<key>jbo</key>
	<string>jbo</string>
	<key>jpn</key>
	<string>jpn</string>
	<key>jpr</key>
	<string>jpr</string>
	<key>jrb</key>
	<string>jrb</string>
	<key>jv</key>
	<string>jav</string>
	<key>ka</key>
	<string>kat</string>
	<key>kaa</key>
	<string>kaa</string>
	<key>kab</key>
	<string>kab</string>
	<key>kac</key>
	<string>kac</string>
	<key>kal</key>
	<string>kal</string>
	<key>kam</key>
	<string>kam</string>
	<key>kan</key>
	<string>kan</string>
	<key>kar</key>
	<string>kar</string>
	<key>kas</key>
	<string>kas</string>
	<key>kat</key>
	<string>kat</string>
	<key>kau</key>
	<string>kau</string>
	<key>kaw</key>
	<string>kaw</string>
	<key>kaz</key>
	<string>kaz</string>
	<key>kbd</key>
	<string>kbd</string>
	<key>kg</key>
	<string>kon</string>
	<key>kha</key>
	<string>kha</string>
	<key>khi</key>
	<string>khi</string>
	<key>khm</key>
	<string>khm</string>
	<key>kho</key>
	<string>kho</string>
	<key>ki</key>
	<string>kik</string>
	<key>kik</key>
	<string>kik</string>
	<key>kin</key>
	<string>kin</string>
	<key>kir</key>
	<string>kir</string>
	<key>kj</key>
	<string>kua</string>
	<key>kk</key>
	<string>kaz</string>
	<key>kl</key>
	<string>kal</string>
	<key>km</key>
	<string>khm</string>
	<key>kmb</key>
	<string>kmb</string>
	<key>kn</key>
	<string>kan</string>
	<key>ko</key>
	<string>kor</string>
	<key>kok</key>
	<string>kok</string>
	<key>kom</key>
	<string>kom</string>
	<key>kon</key>
	<string>kon</string>
	<key>kor</key>
	<string>kor</string>
	<key>kos</key>
	<string>kos</string>
	<key>kpe</key>
	<string>kpe</string>
	<key>kr</key>
	<string>kau</string>
	<key>krc</key>
	<string>krc</string>
	<key>krl</key>
	<string>krl</string>
	<key>kro</key>
	<string>kro</string>
	<key>kru</key>
	<string>kru</string>
	<key>ks</key>
	<string>kas</string>
	<key>ku</key>
	<string>kur</string>
	<key>kua</key>
	<string>kua</string>
	<key>kum</key>
	<string>kum</string>
	<key>kur</key>
	<string>kur</string>
	<key>kut</key>
	<string>kut</string>
	<key>kv</key>
	<string>kom</string>
	<key>kw</key>
	<string>cor</string>
	<key>ky</key>
	<string>kir</string>
	<key>la</key>
	<string>lat</string>
	<key>lad</key>
	<string>lad</string>
	<key>lah</key>
	<string>lah</string>
	<key>lam</key>
	<string>lam</string>
	<key>lao</key>
	<string>lao</string>
	<key>lat</key>
	<string>lat</string>
	<key>lav</key>
	<string>lav</string>
	<key>lb</key>
	<string>ltz</string>
	<key>lez</key>
	<string>lez</string>
	<key>lg</key>
	<string>lug</string>
	<key>li</key>
	<string>lim</string>
	<key>lim</key>
	<string>lim</string>
	<key>lin</key>
	<string>lin</string>
	<key>lit</key>
	<string>lit</string>
	<key>ln</key>
	<string>lin</string>
	<key>lo</key>
	<string>lao</string>
	<key>lol</key>
	<string>lol</string>
	<key>loz</key>
	<string>loz</string>
	<key>lt</key>
	<string>lit</string>
	<key>ltz</key>
	<string>ltz</string>
	<key>lu</key>
	<string>lub</string>
	<key>lua</key>
	<string>lua</string>
	<key>lub</key>
	<string>lub</string>
	<key>lug</key>
	<string>lug</string>
	<key>lui</key>
	<string>lui</string>
	<key>lun</key>
	<string>lun</string>
	<key>luo</key>
	<string>luo</string>
	<key>lus</key>
	<string>lus</string>
	<key>lv</key>
	<string>lav</string>
	<key>mad</key>
	<string>mad</string>
	<key>mag</key>
	<string>mag</string>
	<key>mah</key>
	<string>mah</string>
	<key>mai</key>
	<string>mai</string>
	<key>mak</key>
	<string>mak</string>
	<key>mal</key>
	<string>mal</string>
	<key>man</key>
	<string>man</string>
	<key>map</key>
	<string>map</string>
	<key>mar</key>
	<string>mar</string>
	<key>mas</key>
	<string>mas</string>
	<key>mdf</key>
	<string>mdf</string>
	<key>mdr</key>
	<string>mdr</string>
	<key>men</key>
	<string>men</string>
	<key>mg</key>
	<string>mlg</string>
	<key>mga</key>
	<string>mga</string>
	<key>mh</key>
	<string>mah</string>
	<key>mi</key>
	<string>mri</string>
	<key>mic</key>
	<string>mic</string>
	<key>min</key>
	<string>min</string>
	<key>mis</key>
	<string>mis</string>
	<key>mk</key>
	<string>mkd</string>
	<key>mkd</key>
	<string>mkd</string>
	<key>mkh</key>
	<string>mkh</string>
	<key>ml</key>
	<string>mal</string>
	<key>mlg</key>
	<string>mlg</string>
	<key>mlt</key>
	<string>mlt</string>
	<key>mn</key>
	<string>mon</string>
	<key>mnc</key>
	<string>mnc</string>
	<key>mni</key>
	<string>mni</string>
	<key>mno</key>
	<string>mno</string>
	<key>moh</key>
	<string>moh</string>
	<key>mon</key>
	<string>mon</string>
	<key>mos</key>
	<string>mos</string>
	<key>mr</key>
	<string>mar</string>
	<key>mri</key>
	<string>mri</string>
	<key>ms</key>
	<string>msa</string>
	<key>msa</key>
	<string>msa</string>
	<key>mt</key>
	<string>mlt</string>
	<key>mul</key>
	<string>mul</string>
	<key>mun</key>
	<string>mun</string>
	<key>mus</key>
	<string>mus</string>
	<key>mwl</key>
	<string>mwl</string>
	<key>mwr</key>
	<string>mwr</string>
	<key>my</key>
	<string>mya</string>
	<key>mya</key>
	<string>mya</string>
	<key>myn</key>
	<string>myn</string>
	<key>myv</key>
	<string>myv</string>
	<key>na</key>
	<string>nau</string>
	<key>nah</key>
	<string>nah</string>
	<key>nai</key>
	<string>nai</string>
	<key>nap</key>
	<string>nap</string>
	<key>nau</key>
	<string>nau</string>
	<key>nav</key>
	<string>nav</string>
	<key>nb</key>
	<string>nob</string>
	<key>nbl</key>
	<string>nbl</string>
	<key>nd</key>
	<string>nde</string>
	<key>nde</key>
	<string>nde</string>
	<key>ndo</key>
	<string>ndo</string>
	<key>nds</key>
	<string>nds</string>
	<key>ne</key>
	<string>nep</string>
	<key>nep</key>
	<string>nep</string>
	<key>new</key>
	<string>new</string>
	<key>ng</key>
	<string>ndo</string>
	<key>nia</key>
	<string>nia</string>
	<key>nic</key>
	<string>nic</string>
	<key>niu</key>
	<string>niu</string>
	<key>nl</key>
	<string>nld</string>
	<key>nld</key>
	<string>nld</string>
	<key>nn</key>
	<string>nno</string>
	<key>nno</key>
	<string>nno</string>
	<key>no</key>
	<string>nor</string>
	<key>nob</key>
	<string>nob</string>
	<key>nog</key>
	<string>nog</string>
	<key>non</key>
	<string>non</string>
	<key>nor</key>
	<string>nor</string>
	<key>nqo</key>
	<string>nqo</string>
	<key>nr</key>
	<string>nbl</string>
	<key>nso</key>
	<string>nso</string>
	<key>nub</key>
	<string>nub</string>
	<key>nv</key>
	<string>nav</string>
	<key>nwc</key>
	<string>nwc</string>
	<key>ny</key>
	<string>nya</string>
	<key>nya</key>
	<string>nya</string>
	<key>nym</key>
	<string>nym</string>
	<key>nyn</key>
	<string>nyn</string>
	<key>nyo</key>
	<string>nyo</string>
	<key>nzi</key>
	<string>nzi</string>
	<key>oc</key>
	<string>oci</string>
	<key>oci</key>
	<string>oci</string>
	<key>oj</key>
	<string>oji</string>
	<key>oji</key>
	<string>oji</string>
	<key>om</key>
	<string>orm</string>
	<key>or</key>
	<string>ori</string>
	<key>ori</key>
	<string>ori</string>
	<key>orm</key>
	<string>orm</string>
	<key>os</key>
	<string>oss</string>
	<key>osa</key>
	<string>osa</string>
	<key>oss</key>
	<string>oss</string>
	<key>ota</key>
	<string>ota</string>
	<key>oto</key>
	<string>oto</string>
	<key>pa</key>
	<string>pan</string>
	<key>paa</key>
	<string>paa</string>
	<key>pag</key>
	<string>pag</string>
	<key>pal</key>
	<string>pal</string>
	<key>pam</key>
	<string>pam</string>
	<key>pan</key>
	<string>pan</string>
	<key>pap</key>
	<string>pap</string>
	<key>pau</key>
	<string>pau</string>
	<key>peo</key>
	<string>peo</string>
	<key>phi</key>
	<string>phi</string>
	<key>phn</key>
	<string>phn</string>
	<key>pi</key>
	<string>pli</string>
	<key>pl</key>
	<string>pol</string>
	<key>pli</key>
	<string>pli</string>
	<key>pol</key>
	<string>pol</string>
	<key>pon</key>
	<string>pon</string>
	<key>por</key>
	<string>por</string>
	<key>pra</key>
	<string>pra</string>
	<key>pro</key>
	<string>pro</string>
	<key>ps</key>
	<string>pus</string>
	<key>pt</key>
	<string>por</string>
	<key>pus</key>
	<string>pus</string>
	<key>qaa</key>
	<string>qaa</string>
	<key>qu</key>
	<string>que</string>
	<key>que</key>
	<string>que</string>
	<key>raj</key>
	<string>raj</string>
	<key>rap</key>
	<string>rap</string>
	<key>rar</key>
	<string>rar</string>
	<key>rm</key>
	<string>roh</string>
	<key>rn</key>
	<string>run</string>
	<key>ro</key>
	<string>ron</string>
	<key>roa</key>
	<string>roa</string>
	<key>roh</key>
	<string>roh</string>
	<key>rom</key>
	<string>rom</string>
	<key>ron</key>
	<string>ron</string>
	<key>ru</key>
	<string>rus</string>
	<key>run</key>
	<string>run</string>
	<key>rup</key>
	<string>rup</string>
	<key>rus</key>
	<string>rus</string>
	<key>rw</key>
	<string>kin</string>
	<key>sa</key>
	<string>san</string>
	<key>sad</key>
	<string>sad</string>
	<key>sag</key>
	<string>sag</string>
	<key>sah</key>
	<string>sah</string>
	<key>sai</key>
	<string>sai</string>
	<key>sal</key>
	<string>sal</string>
	<key>sam</key>
	<string>sam</string>
	<key>san</key>
	<string>san</string>
	<key>sas</key>
	<string>sas</string>
	<key>sat</key>
	<string>sat</string>
	<key>sc</key>
	<string>srd</string>
	<key>scn</key>
	<string>scn</string>
	<key>sco</key>
	<string>sco</string>
	<key>sd</key>
	<string>snd</string>
	<key>se</key>
	<string>sme</string>
	<key>sel</key>
	<string>sel</string>
	<key>sem</key>
	<string>sem</string>
	<key>sg</key>
	<string>sag</string>
	<key>sga</key>
	<string>sga</string>
	<key>sgn</key>
	<string>sgn</string>
	<key>shn</key>
	<string>shn</string>
	<key>si</key>
	<string>sin</string>
	<key>sid</key>
	<string>sid</string>
	<key>sin</key>
	<string>sin</string>
	<key>sio</key>
	<string>sio</string>
	<key>sit</key>
	<string>sit</string>
	<key>sk</key>
	<string>slk</string>
	<key>sl</key>
	<string>slv</string>
	<key>sla</key>
	<string>sla</string>
	<key>slk</key>
	<string>slk</string>
	<key>slv</key>
	<string>slv</string>
	<key>sm</key>
	<string>smo</string>
	<key>sma</key>
	<string>sma</string>
	<key>sme</key>
	<string>sme</string>
	<key>smi</key>
	<string>smi</string>
	<key>smj</key>
	<string>smj</string>
	<key>smn</key>
	<string>smn</string>
	<key>smo</key>
	<string>smo</string>
	<key>sms</key>
	<string>sms</string>
	<key>sn</key>
	<string>sna</string>
	<key>sna</key>
	<string>sna</string>
	<key>snd</key>
	<string>snd</string>
	<key>snk</key>
	<string>snk</string>
	<key>so</key>
	<string>som</string>
	<key>sog</key>
	<string>sog</string>
	<key>som</key>
	<string>som</string>
	<key>son</key>
	<string>son</string>
	<key>sot</key>
	<string>sot</string>
	<key>spa</key>
	<string>spa</string>
	<key>sq</key>
	<string>sqi</string>
	<key>sqi</key>
	<string>sqi</string>
	<key>sr</key>
	<string>srp</string>
	<key>srd</key>
	<string>srd</string>
	<key>srn</key>
	<string>srn</string>
	<key>srp</key>
	<string>srp</string>
	<key>srr</key>
	<string>srr</string>
	<key>ss</key>
	<string>ssw</string>
	<key>ssa</key>
	<string>ssa</string>
	<key>ssw</key>
	<string>ssw</string>
	<key>st</key>
	<string>sot</string>
	<key>su</key>
	<string>sun</string>
	<key>suk</key>
	<string>suk</string>
	<key>sun</key>
	<string>sun</string>
	<key>sus</key>
	<string>sus</string>
	<key>sux</key>
	<string>sux</string>
	<key>sv</key>
	<string>swe</string>
	<key>sw</key>
	<string>swa</string>
	<key>swa</key>
	<string>swa</string>
	<key>swe</key>
	<string>swe</string>
	<key>syc</key>
	<string>syc</string>
	<key>syr</key>
	<string>syr</string>
	<key>ta</key>
	<string>tam</string>
	<key>tah</key>
	<string>tah</string>
	<key>tai</key>
	<string>tai</string>
	<key>tam</key>
	<string>tam</string>
	<key>tat</key>
	<string>tat</string>
	<key>te</key>
	<string>tel</string>
	<key>tel</key>
	<string>tel</string>
	<key>tem</key>
	<string>tem</string>
	<key>ter</key>
	<string>ter</string>
	<key>tet</key>
	<string>tet</string>
	<key>tg</key>
	<string>tgk</string>
	<key>tgk</key>
	<string>tgk</string>
	<key>tgl</key>
	<string>tgl</string>
	<key>th</key>
	<string>tha</string>
	<key>tha</key>
	<string>tha</string>
	<key>ti</key>
	<string>tir</string>
	<key>tig</key>
	<string>tig</string>
	<key>tir</key>
	<string>tir</string>
	<key>tiv</key>
	<string>tiv</string>
	<key>tk</key>
	<string>tuk</string>
	<key>tkl</key>
	<string>tkl</string>
	<key>tl</key>
	<string>tgl</string>
	<key>tlh</key>
	<string>tlh</string>
	<key>tli</key>
	<string>tli</string>
	<key>tmh</key>
	<string>tmh</string>
	<key>tn</key>
	<string>tsn</string>
	<key>to</key>
	<string>ton</string>
	<key>tog</key>
	<string>tog</string>
	<key>ton</key>
	<string>ton</string>
	<key>tpi</key>
	<string>tpi</string>
	<key>tr</key>
	<string>tur</string>
	<key>ts</key>
	<string>tso</string>
	<key>tsi</key>
	<string>tsi</string>
	<key>tsn</key>
	<string>tsn</string>
	<key>tso</key>
	<string>tso</string>
	<key>tt</key>
	<string>tat</string>
	<key>tuk</key>
	<string>tuk</string>
	<key>tum</key>
	<string>tum</string>
	<key>tup</key>
	<string>tup</string>
	<key>tur</key>
	<string>tur</string>
	<key>tut</key>
	<string>tut</string>
	<key>tvl</key>
	<string>tvl</string>
	<key>tw</key>
	<string>twi</string>
	<key>twi</key>
	<string>twi</string>
	<key>ty</key>
	<string>tah</string>
	<key>tyv</key>
	<string>tyv</string>
	<key>udm</key>
	<string>udm</string>
	<key>ug</key>
	<string>uig</string>
	<key>uga</key>
	<string>uga</string>
	<key>uig</key>
	<string>uig</string>
	<key>uk</key>
	<string>ukr</string>
	<key>ukr</key>
	<string>ukr</string>
	<key>umb</key>
	<string>umb</string>
	<key>und</key>
	<string>und</string>
	<key>ur</key>
	<string>urd</string>
	<key>urd</key>
	<string>urd</string>
	<key>uz</key>
	<string>uzb</string>
	<key>uzb</key>
	<string>uzb</string>
	<key>vai</key>
	<string>vai</string>
	<key>ve</key>
	<string>ven</string>
	<key>ven</key>
	<string>ven</string>
	<key>vi</key>
	<string>vie</string>
	<key>vie</key>
	<string>vie</string>
	<key>vo</key>
	<string>vol</string>
	<key>vol</key>
	<string>vol</string>
	<key>vot</key>
	<string>vot</string>
	<key>wa</key>
	<string>wln</string>
	<key>wak</key>
	<string>wak</string>
	<key>wal</key>
	<string>wal</string>
	<key>war</key>
	<string>war</string>
	<key>was</key>
	<string>was</string>
	<key>wen</key>
	<string>wen</string>
	<key>wln</key>
	<string>wln</string>
	<key>wo</key>
	<string>wol</string>
	<key>wol</key>
	<string>wol</string>
	<key>xal</key>
	<string>xal</string>
	<key>xh</key>
	<string>xho</string>
	<key>xho</key>
	<string>xho</string>
	<key>yao</key>
	<string>yao</string>
	<key>yap</key>
	<string>yap</string>
	<key>yi</key>
	<string>yid</string>
	<key>yid</key>
	<string>yid</string>
	<key>yo</key>
	<string>yor</string>
	<key>yor</key>
	<string>yor</string>
	<key>ypk</key>
	<string>ypk</string>
	<key>za</key>
	<string>zha</string>
	<key>zap</key>
	<string>zap</string>
	<key>zbl</key>
	<string>zbl</string>
	<key>zen</key>
	<string>zen</string>
	<key>zgh</key>
	<string>zgh</string>
	<key>zh</key>
	<string>zho</string>
	<key>zha</key>
	<string>zha</string>
	<key>zho</key>
	<string>zho</string>
	<key>znd</key>
	<string>znd</string>
	<key>zu</key>
	<string>zul</string>
	<key>zul</key>
	<string>zul</string>
	<key>zun</key>
	<string>zun</string>
	<key>zxx</key>
	<string>zxx</string>
	<key>zza</key>
	<string>zza</string>
</dict>
</plist>
