@import './app.common';

mdbutton {
    // material3 basic design
    shape: round;
}


canvasview,
canvaslabel,
.fabHolder {
    ios-ignore-safe-area: true;
}

htmllabel,
label,
button,
textfield,
mdtextfield,
mdtextview,
checkbox,
mdbutton {
    ios-a11y-adjusts-font-size: true;
}

checkbox {
    off-animation-type: 3;
    on-animation-type: 3;
    on-check-color: var(--colorOnPrimary);
    on-tint-color: var(--colorPrimary);
}

mdswitch {
    on-background-color: var(--colorPrimary)
}

// mdbutton[variant=flat],mdbutton[variant=contained] {
//     color: var(--colorOnPrimary);
// }
mdcardview {
    // material3 basic design
    shape: medium;
}

.fab {
    shape: medium;
    elevation: 2;
    // width: calc(56 * var(--fontScale));
    // height: calc(56 * var(--fontScale));
}
.small-fab {
    shape: small;
    elevation: 2;
    // width: calc(40 * var(--fontScale));
    // height: calc(40 * var(--fontScale));
}

mdtextfield[variant=none] {
    padding:0;
}