@import 'variables';
:export {
    colorPrimary: $colorPrimary;
    colorOnPrimary: $colorOnPrimary;
    colorSecondary: $colorSecondary;
    colorSecondaryContainer: $colorSecondaryContainer;
    colorBackground: $colorBackground;
    colorOnBackground: $colorOnBackground;
    colorError: $colorError;
    colorOnError: $colorOnError;




    darkColor: $dark-color;
    actionBarHeight: $actionbar-height;
    textColorDark: $text-color-dark;
    textColorLight: $text-color-light;
    statusBarHeight: $status-bar-height;
    navigationBarHeight: $navigation-bar-height;
    actionBarButtonHeight: $actionbar-button-height;
    mdiFontFamily: $mdi-fontFamily;
}
