$primary-color: #57E07E;
$accent-color: #57E07E;
$dark-color: #43ae61;
$background-color: #fff;
$text-color-dark: #fff;
$text-color-light: #222;
$disabled-color: #404040;
$actionbar-height: 60;
$actionbar-button-height: 50;
$navigation-bar-height: 0; //48
$status-bar-height: 24;
