.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 2rem;
}

.screenshot {
  padding: 2rem 0;
  background: var(--ifm-color-emphasis-100);
}

.screenshotImage {
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
