<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Root</string>
        <key>Title</key>
        <string>settings</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>General</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>theme</string>
                <key>Key</key>
                <string>theme</string>
                <key>DefaultValue</key>
                <string>dark</string>
                <key>Values</key>
                <array>
                    <string>auto</string>
                    <string>light</string>
                    <string>dark</string>
                    <string>black</string>
                </array>
                <key>Titles</key>
                <array>
                    <string>auto</string>
                    <string>light</string>
                    <string>dark</string>
                    <string>black</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
