.idea
.vscode
node_modules
platforms
hooks
package-lock.json
.DS_Store
npm-debug.log.*
demo*/app/**/*.js
demo*/typings
*.framework
**/*.js.map
src/**/*.js
plugin/**/*.js
plugin/**/*.d.ts
bin
build
Pods
!plugin/platforms
/plugin/platforms/android/nativescript_*.aar
*.xcuserdatad
/plugin/README.md
plugin/**/*js.map
plugin/**/*js
*.aar
pnpm-lock.yaml
